/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

/.idea/

!/web/public/uploads/avatars
/web/public/uploads/avatars/*
!/web/public/uploads/avatars/.gitkeep
!/web/public/uploads/avatars/default.jpg
!/web/public/uploads/backgrounds
/web/public/uploads/backgrounds/*
!/web/public/uploads/backgrounds/.gitkeep
!/web/public/uploads/backgrounds/default.jpg
