/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

/.idea/
/app/config/config.yml
/app/sqlite.db

!/public/uploads/avatars
/public/uploads/avatars/*
!/public/uploads/avatars/.gitkeep
!/public/uploads/avatars/default.jpg
!/public/uploads/backgrounds
/public/uploads/backgrounds/*
!/public/uploads/backgrounds/.gitkeep
!/public/uploads/backgrounds/default.jpg
